body {
  padding-top: 70px; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  display: inline-block;
  color: #00B7FF;
}
.list_pics {
  display: inline-block;
  float: left;
  top: 25px;
  height: 100px;
  width: 100px;
  position: relative;
}
#aboutPic {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.glyphicon {
  color: #e6b800;
}
.circle {
  border: 2px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  top: 5px;
  position: relative;
  margin-bottom: 10px
}
.circle > span {
  position: relative;
  top: 25%;
}
#banner {
  text-align: center;
}
.form-group {
  margin: 30px 0px;
}
footer {
  margin-top: 50px;
  padding: 40px;
  background-color: #F8F8F8;
  border-color: #e7e7e7;
}
@media screen and (max-width: 540px){
  .image {
    top: 0px;
    float: none !important;
    width: 100% !important;
  }
  img {
    float: none !important;
    top: 0px;
  }
  .content {
    width: 100%;
  }
}