body {
  padding-top: 70px; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  display: inline-block;
  color: #00B7FF;
}

img {
  display: inline-block;
  float: left;
}
.glyphicon {
  color: #e6b800;
}
.circle {
  border: 2px solid black;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.circle > span {
  position: relative;
  top: 25%;
}