<div class="container"> 
  <navigation></navigation>
    <page-header content="vm.pageHeader"></page-header>
    <div class='row'>
      <div class='col-xs-12 text-center'>
        <div role="alert" ng-show="vm.message" class="alert alert-danger">{{ vm.message }}</div>
        <form class= "form-group form-inline" ng-submit="vm.onSubmit()" accept-charset="utf-8">
          <input class="form-control" placeholder="Enter City" type="text" ng-model="vm.formData">
          <input class="form-control btn btn-default" type="submit" value="Search">
        </form>
        <div role="alert" ng-show="vm.loading">{{ vm.loading }}</div>
        <div class="list-group-item" ng-repeat="business in vm.businesses">
          <div class='row'>
            <div class='col-xs-2'>
              <img src="{{ business.image_url }}" class='.img-thumbnail'> 
            </div>
            <div class='col-xs-10'>
              <h4>                                                         
                <a href="{{ business.mobile_url }}" target="_blank">{{ business.name }}</a>
              </h4> 
              <div rating-stars rating="business.rating"></div>  
              <p> Number of Reviews: {{ business.review_count | notNull }} </p>
              <p> {{ business.location.address | formatAddress }} {{ business.location.city }} {{ business.location.state_code }} {{ business.location.country_code }}</p>  
                <button id='going' class='btn btn-success' ng-disabled="business.disable" ng-click="vm.going(business)">I'm going!</button>  
                <div id='text-center>'><div class='circle'><span id='attendees'>{{ business.peopleGoing }}</span></div></div>                </div>
          </div> 
        </div>                                                                 
      </div>
    </div>
  </div>
<footer-generic></footer-generic>


